<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Curso</title>
</head>

<body>
    <h1>Cadastrar Curso</h1>
    <form action="/curso" method="post">
        <label>Nome:</label>

        <input type="text" name="nome">

        <br>

        <label>Duração do curso em dias:</label>

        <input type="text" name="duracao_dias">

        <br>

        <label>Descricão:</label>

        <input type="text" name="descricao">

        <br>
        <button type="subimit">Salvar</button>


    </form>

</body>

</html>